button {
    background-color: #FC0FC0;
    border: none;
    color: white;
    padding: 45px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}
