table#dates {
    width: 80%; 
    background-color: #f1f1c1;
    text-align: center;
}

table#dates tr:nth-child(even) {
    background-color: #eee;
}

table#dates tr:nth-child(odd) {
    background-color: #fff;
}

table#dates th {
    color: white;
    background-color: black;
}
